body 
{
    background-color: #000000;
    color: #ffffff;
    font-family: Arial;
    align-content: center;
}

h1
{
    color: #808080;
    font-family: Verdana;
}

.maindiv
{
    background-color: #ffffff;
    color: #000000;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align-content: center;
}
